<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="../static/style.css" /> 
       <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>  
        Project
    </title>
    style
       include ../static/style.css
  </head>
  <body>
   
    <header>
      <a href="#" class="logo"><i class='bx bxs-book-alt'></i>FacultyFixerHuB</a>
   
      <span onclick="myfunction()">&#9776</span>
      <ul class="navbar" id="menu">
        <li href><a href="indexsss.pug">Home</a></li>
        <li ><a href="job.pug">Find Job</a></li>
        <li ><a href="joblists.pug">Job List</a></li>
        <li><a href="contact.pug">Contact</a></li>
      </ul>

      <div class="login-btn">
        <a href="#" class="sign" style="color:brown;" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign In</a>
        <a href="#" class="contact"><i class='bx bx-phone' style="font-size:25px;" onclick="Function()"></i></a>
      </div>
    </header>

    
        
    <div id="id01" class="modal">
  
      <form class="modal-content animate" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
         
        </div>
        <div class="containers">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" id="uname"  class="form-control" >
    
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" class="form-control" >
            
          <button type="submit" class="button">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
        

        <div class="containers" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <div class="containers">
        <div class="row">
            <div class="col-lg-8">
                <div class="apply">
                    <h4>Add Job</h4>
                    <form action="/add" method="post"> 
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" name="jobtitle" placeholder="Job Title">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" name="jobdescription" placeholder="Job Description">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input  type="text" class="form-control" name="joblocation" placeholder="Job Location">
                            </div>
                            <div class="col-12 col-sm-6"> 
                                <input type="salary" class="form-control" name="salary" placeholder="Salary">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" name="application" placeholder="Application Deadline:">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="url" class="form-control bg-white" name="url" placeholder="URL of Your Websites">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="5" name="summary" placeholder="Summary"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
     

     
    <div class="bottom">
      <div class="doun"><p>About us</p></div><br>
        <div class="thought"><p>We understand the challenges of faculty recruitment, and our platform simplifies the process.<br>  Whether you're an institution seeking qualified educators or a teacher looking for the right academic opportunity, <br>we're here to connect talent with need and elevate the quality of education.</p>
           <div class="Instagram">
              <p class="logo1"><i class='bx bxl-instagram-alt'></i></p>
              <p class="logo2"><i class='bx bxl-facebook-circle'></i></p>
              <p class="logo3"><i class='bx bxl-linkedin-square'></i></div>
           </div>
        </div>
      <div>
    </div>
       
   

  </body>
  script
     include ../static/scripts.js
  </html>