<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="../static/style.css" /> 
       <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>  
        Project
    </title>
    style
       include ../static/style.css

   
  </head>
  <body>
   <div class="mg"><img src="../static/img/shaking-hands-before-an-interview.jpeg" width="1518" height="800" style=" padding-top:60px;"></div>
    <header>
      <a href="#" class="logo"><i class='bx bxs-book-alt'></i>FacultyFixerHuB</a>
   
      <span onclick="myfunction()">&#9776</span>
      <ul class="navbar" id="menu">
        <li ><a href="index.pug">Home</a></li>
        <li ><a href="job.pug">Find Job</a></li>
        <li ><a href="joblists.pug">Job List</a></li>
        <li><a href="contact.pug">Contact</a></li>
      </ul>

      <div class="login-btn">
        <a href="#" class="sign" style="color:brown;" onclick="document.getElementById('contains').style.display='block'" style="width:auto;">Sign In</a>
        <a href="#" class="contact"><i class='bx bx-phone' style="font-size:25px;" onclick="Function()"></i></a>
      </div>
    </header>

    <div id="contains" class="modals">
  
      <form class="modal-content animate" action="/index" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
         
        </div>
        <div class="container">
          <label ><b>Username</b></label>
          <input type="text"  class="form-control" name="email" placeholder="Enter Username" >
    
          <label ><b>Password</b></label>
          <input type="password" class="form-control" name="password"  placeholder="Enter Password"  >
          <div class="form-container">
          <label for="browser" class="form-label">Choose option :</label>
          <input list="browsers" name="browser" id="browser" class="form-input" placeholder="Choose option">
          <datalist id="browsers">
          <option value="JobApplier">
          <option value="University">
          </datalist>
          </div>
           <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me  
          </label> <a class="lost-pass-link" src="" title="Lost Password">Lost your password?</a>
          <button type="submit" class="button" value="index">Login</button>

          <div class="kaisa">Not a member yet? <a class="register" src=""  onclick="document.getElementById('containss').style.display='block'">Register now</a></div>
          
         
        </div>
        

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('contains').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
        </form>
        </div>
  
    <div id="containss" class="modals">
    <form class="modal-content animate" action="/registeration" method="post" >
    <div class="containersss">
    <h1>Register</h1>
    <p>Please fill in this form to create an account</p>
    <hr>
    <label for="email"><b>Name</b></label>
    <input type="text" placeholder="Name" id="email" name="name"  required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" id="email" name="email"  required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>

    <label for="passwordrepeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" id="passwordrepeat" name="passwordrepeat"  required>
    <hr>

     <label for="browser" class="form-label" >Choose option :</label>
     <input list="browsers" name="browser" id="browser" class="form-input" >
     <datalist id="browsers">
      <option value="Job-Applier">
      <option value="University">
      </datalist>
     <button type="submit" class="registerbtn">Register</button>
     </div>
  
   <div class="container signin">
    <p>Already have an account? <a href="" class="sign" style="color:brown;" onclick="document.getElementById('contains').style.display='block'" style="width:auto;" >Sign in</a>.</p>
   </div>
   </form>
   </div>


    <div class="im">
      <div class="choose"> <p>Explore By Category</p></div>
        <div class="Why">
           <li><img src="../static/img/2 teacher.jpg"  width="200px" height="150px" class="one">Full-Time Professors<br></li>
           <li><img src="../static/img/1 teacher.jpg" width="100px" height="100px"  class="two"> Department Chairs</li>
           <li><img src="../static/img/2nd teacher.jpg"  width="100px" height="100px"  class="three">Teaching Assistants (TAs)</li>
           <li><img src="../static/img/teaching staff.png" width="100px" height="100px"  class="four">Lecturers</li>
           <li><img src="../static/img/1 teacher.jpg" width="100px" height="100px"  class="five">Administrators</li>
        </div>
    </div>
    
    <div class="color">
    <div class="am"><p>Discover the Ideal Job That Matches Your Deserved Talent and Skills</p></div>
    <div class="kam"><p>Tips and resources for optimizing your job search to land a role that suits you best.<br>
     </div>
    <div class="jk">
    <div class="nam">
      <li><img src="../static/img/about-1.jpg" width="400px" height="400px" class="fiveth"><p class="classs">Vasai-Virar, Maharashtra</p><button  class="class" ><a href="joblists.pug" class="plus">Explore</a></button></li>
      <li><img src="../static/img/about-2.jpg" width="400px" height="400px" class="sixth"><p class="classs">Mumbai, Maharashtra</p> <button  class="class" ><a>Explore</a></button></li>
    </div>

    <div class="nam">
      <li><img src="../static/img/about-3.jpg" width="400px" height="400px" class="fiveth"><p class="classs">borivali ,  Maharashtra</p><button  class="class" ><a>Explore</a></button></li>
      <li><img src="../static/img/about-4.jpg" width="400px" height="400px" class="sixth"><p class="classs">Thane ,  Maharashtra</p> <button  class="class" ><a>Explore</a></button></li>
    </div>

    <div class="nam">
      <li><img src="../static/img/femaleteacher_0.jpg" width="400px" height="400px" class="fiveth"><p class="classs">Navi Mumbai, Maharashtra</p><button class="class" ><a>Explore</a></li>
      <li><img src="../static/img/r16_90_5641_3840_w5760_h3840_fmax.jpg" width="400px" height="400px" class="sixth"><p class="classs">Palghar, Maharashtra </p> <button  class="class"><a>Explore</a></button></li>
    </div>
    </div>
    </div>

   

    <div class="bottom">
      <div class="doun"><p>About us</p></div><br>
        <div class="thought"><p>We understand the challenges of faculty recruitment, and our platform simplifies the process.<br>  Whether you're an institution seeking qualified educators or a teacher looking for the right academic opportunity, <br>we're here to connect talent with need and elevate the quality of education.</p>
           <div class="Instagram">
              <p class="logo1"><i class='bx bxl-instagram-alt'></i></p>
              <p class="logo2"><i class='bx bxl-facebook-circle'></i></p>
              <p class="logo3"><i class='bx bxl-linkedin-square'></i></div>
           </div>
        </div>
      <div>
    </div>
  
  </body>
  script
     include ../static/scripts.js
  </html>