*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    }

body{
        width:100%;
        height:100vh;
        background-size: cover;
        background-position: center;
    }
.img{
    background-position:absolute;
}
header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    display: flex;
    z-index:1000;
    align-items: center;
    justify-content: space-between;
    background-color:#f1f8fc;
    padding:10px 15px;
    transition: .2s;
    color: #101011;
}
.logo{
    color:#100f10;
    font-size:30px;
    font-weight:700;
}
.logo i{
    vertical-align:middle;
    color:#0d0e0e;
    margin-right:10px;
    font-size:40px;

}

.navbar{
    display:flex;
}
.navbar a{
    font-size:16px;
    font-weight:500;
    padding:10px 15px;
    margin:0 5px;
    color:#050505;  
    border-radius: 5px;
    transition: all .45s ease;
}

.navbar a:hover{
    background: #71a8df;
}


#menu-icon{
 font-size: 30px;
 color:#121010;
 cursor:pointer;
 display:none;
}
.im{
    background-color:white;
    line-height: 1.378;
}
.login-btn a{
    display:inline;
    color:#100f0f;
    font-size: 15px;
    font-weight:750;

   
}

.login-btn .contact{
    background:#608ce2;
    border: 2px solid transparent;
    border-radius:10px;
    font-size: 35px;
    border-radius: 60%;
    transform: all .50s ease;
   
}

.login-btn .contact:hover{
    color:#e07070 ;
    background: transparent;
    }
    

span{
    margin:0 20px;
    font-size:28px;
    cursor: pointer;
    display: none;
}

.choose{
    text-align:center;
    font-size: 30px;
    font-weight:bold;
    color: rgb(9, 9, 9);
    padding:30px;
    max-height: 20px;
}

.Why{
    display:flex;
  
}
.Why img{
    display: inline;
    padding: auto;
    margin:50px 80px 20px 90px;
    border-radius: 50%;
   

}
.Why .one{
    margin-top:  50px;
    display: flex;
    
    
}
.Why .two{
    margin-top:80px;
    display: flex;
    text-align: center;
}
.Why .three{
    margin-top:80px;
    display: flex;
    text-align: center;
}
.Why .four{
    margin-top:80px;
    display: flex;
}
.Why .five{
    margin-top:80px;
    display: flex;
}

.Why li{
    display:block;
    padding: auto;
    text-align:center;
    font-weight: 600;
    margin-bottom: 40px;
}

.advantage{
    text-align:center;
    font-size: 30px;
    font-weight:bold;
    color: rgb(12, 12, 12);
    padding:30px;
    max-height: 20px;

}
.number{
    display: flex;
   margin:5%;
}

.number img{
    border-radius:50%;
    margin:1% 7% 7% 7%;
    margin-right: 20%;
}

.number .One{
  margin:2px 70px 20px 70px;
}

.number .Two{
    margin:2px 70px 20px 70px;
  }

.number .Three{
    margin:2px 70px 20px 70px;
  }
.number li{
    display:block;
    padding: auto;
    text-align:center;
    font-weight: 600;
    font-size: 20px;

}


.am{
    color:#000;
    font-size: 25px;
    font-weight: 500;
    text-align:center;
    
}

.kam{
    text-align: center;

}

.nam{
    display:flex;
}

.nam img{
    border-radius:30%;
    margin:20px 30px 10px 220px;

}
.pam{
  display:flex;
}

.pam img{
  border-radius: 20%;
  margin:50px 30px 10px 220px;
}
.lam{
  display:flex;
}

.lam img{
  border-radius: 20%;
  margin:50px 30px 10px 220px;
}
.colo{
  background-color: #f2f9f9;
  padding-bottom:20px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .button {
    background-color: #55edb6;
    color: white;
    padding:14px 20px;
    margin:2% 0% 2% 0%;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width:20%;
    border-radius: 50%;
  }
  
  .container {
    padding:13px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top:40px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #faf8f8;
    width:50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    border-color:red;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
    border-color:red;
  }
  
  .modals{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:1; /* Sit on top */
    left: 0;
    top: 0;
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding:8%;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  .explore{
    margin:1% 5% 0% 43%;
    background:#14bdad;
    border-radius:45%;
    font-weight: 900;
    font-size:20px;
    padding: 15px 32px;
    color:white;
    border-color:#14bdad;
    border-bottom:#14bdad;
    border-right:#14bdad;
    cursor: pointer;
  }

  .exploref:hover{
    color:#eb8391;
  }

  .exploref{
    margin:1% 5% 0% 43%;
    background:#14bdad;
    border-radius:45%;
    font-weight: 900;
    font-size:20px;
    padding: 15px 32px;
    color:white;
    border-color:#14bdad;
    border-bottom:#14bdad;
    border-right:#14bdad;
    cursor: pointer;
  }
  
  .explore:hover{
    color:#f194a5;
  }

  .class{
    margin:0% 5% 5% 60%;
    background:#14bdad;
    border-radius:45%;
    font-weight: 900;
    font-size:20px;
    padding: 10px 20px;
    color:white;
    border-color:#14bdad;
    border-bottom:#14bdad;
    border-right:#14bdad;
    cursor: pointer;
  }

  .classs{
    margin:0% 5% 0% 50%;
    border-radius:45%;
    font-weight:300;
    font-size:16px;
    padding: 15px 32px;
    color:rgb(3, 3, 3);
    cursor: pointer;
  }

  .class:hover{
    color:#e78997;
  }
  
.bottom{
  background-color: #b4b5b2;
  color:rgb(16, 15, 15);
  text-align: center;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top:5%;
  padding-bottom: 5%;
  
}

.color{
  background-color:rgb(242, 241, 241);
  margin-top:2%;
  padding-top:3%;

}

.Instagram{
  display:flex;
  margin:2% 5% 0% 45%;
}

.logo1{
  font-size: 28px;
  margin:2% 2% 2% 2%;
  cursor: pointer;
}

.logo2{
  font-size: 28px;
  margin:2% 2% 2% 2%;
  cursor: pointer;
}

.logo1:hover{
   background:rgb(170, 170, 219);
   border-radius: 25%;
}
.logo2:hover{
  background:rgb(170, 170, 219);
  border-radius: 25%;
}
.logo3:hover{
  background:rgb(170, 170, 219);
  border-radius: 25%;
}
.logo3{
  font-size: 28px;
  margin:2% 2% 2% 2%;
  cursor: pointer;
}

.doun{
  font-size:20px;
}
 
@media only screen and (max-width:700px){

  .navbar{
      position:absolute;
      top:100%;
      left:0;
      right:0;
      display: flex;
      flex-direction: column;
      background: #ddeff9;
      transition: all .50s ease;
      text-align: left;
      
  }
  span{
      display: block;
      padding-right:10%;
      font-size:20px;
  }
  .navbar a{
      display: block;
      padding:1rem;
      margin: 0.8rem;
  }
  .navbar{
      display: none;
  }
  header{
    padding-right:3%;
  }

.logo{
    font-size: 23px;
  }
  
.logo i{
    font-size: 35px;
  }   

.mg{
    display: none;
}
.am p{
 margin-top:25%;
 text-align:center;
 font-size:20px;
}

.kam p{
  font-size:13px;
}

.color{
  background-color: rgb(240, 225, 235);
}

.nam{
display:block;
}
.lam{
  display:block;
}
.pam{
  display:block;
}

.nam img{
  width:275px;
  height: 200px;
  margin-left:20px;
  
}


.exploref{
  font-size:15px;
  margin-left:33%;
  
}
.explore{
  font-size: 15px;
  margin-left:33%;
}
.class{
  font-size:15px;
  margin-left:39%;
}
.choose{
  font-size:25px;
  text-align: center;
}
.im{
  padding-top:45px;
  padding-bottom:30px;
}


.Why{
  display:block;
}

.Why .one{
  margin-left:30%;
}
.Why .two{
  margin-left:40%;
}
.Why .three{
  margin-left:40%;
}
.Why .four{
  margin-left:40%;
}
.Why .five{
  margin-left:40%;
}
.number{
  display:block;
}

.advantage{
    padding-bottom:15%;
    padding-top:10%;
}

.number .one{
  margin-top:50%;
}

.number li{
  padding-bottom:10%;
  padding-top:5%;
  font-size:20px;
}
.doun p{
  font-size:18px;
  text-align: center;
  margin-right:2%;
}
.thought p{
  font-size:13px;
  text-align: center;
  margin-left:3%;
  margin-right:3%;

}
.Instagram{
  margin-left:39%;
  margin-top:5%;
}
.Instagram p{
  font-size:25px;
  
}
}

.fadeInUp{
  padding-top:3%;
  padding-bottom:5%;
  padding-left:5%;
}

.imm{
  padding-top:5%px;
  padding-bottom:5%px;
}
.choosse p{
  font-size:25px;
  text-align: center;
  color:#000;
}

.sixth{
  padding:0% 0% 1% 5%;
  font-style:normal;
  font-size:110%;
}

.max{
  background-color: #edeff0;
}

/* Basic Styles */
.job-listing {
  text-align: center;
  padding:0% 5% 0% 5%;
  background-color:white;
}

.tabs ul {
  list-style-type: none;
  padding: 0;
  padding-top:2%;
}

.tabs ul li {
  display: inline-block;
  margin-right: 20px;
}

.tab-title {
  margin: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-title:hover {
  background-color: #0056b3;
}

.tab-content {
  margin-top:15px;
  display:flex;
  line-height:25px;
  text-align: center;
  margin: 20px;
  flex-wrap: nowrap;
}


/* Style the "Browse More Jobs" button */

.browse-more {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.browse-more:hover {
  background-color: #0056b3;
}



.containers{
  max-width: 1000px;
  padding-top:10%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-right:2%;
  padding-left:4%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px
}

/* Style the header */
.text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.text span {
  margin-right: 20px;
  font-size: 16px;
  color: #555;
}

/* Style the image */
.img {
  width: 80px;
  height: 80px;
  border: 2px solid #007BFF;
  border-radius: 50%;
  object-fit: cover;
}

/* Style the description section */
.description {
  margin-bottom: 20px;
}

.description h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.description p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

.description ul {
  list-style-type: disc;
  margin-left: 20px;
}

.description ul li {
  margin-bottom: 5px;
}

/* Style the form */
.apply form {
  margin-top: 20px;
}

.apply input[type="text"],
.apply input[type="email"],
.apply input[type="date"],
.apply input[type="file"],
.apply input[type="number"],
.apply input[type="salary"],
.apply input[type="url"],
.apply textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.apply input[type="file"] {
  background-color: #fff;
}

.apply textarea {
  resize: none;
}

.apply button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.apply button:hover {
  background-color: #0056b3;
}

/* Style the summary section */
.summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary h4 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.summary p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

/* Style the college details section */
.college-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.college-details h4 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.college-details p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

.plus{
  color:white;
}

.jk{
  margin-top:20px;
}

.joby{
  text-align: center;
  background-color:white;
  padding-top:10%;
  padding-right:10px;
}
.job-item:hover {
  background: rgb(236, 208, 170);
}

.lost-pass-link{
   color:#0056b3;
   margin:5% 1% 7% 48%;
} 

.kaisa{
  margin:0% 1% 1% 25%;
}

.register{
 color:#14bdad;
 cursor:pointer;
}

.register:hover{
  color:#0056b3;
  
}

.lost-pass-link:hover{
  color:#007BFF;
}

/* Style the container */
/* Style the container */
.containersss {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  max-width:700px; /* Adjusted max-width */
  margin: 0 auto; /* Center the form horizontally */
}

/* Style the input fields */
.containersss input[type=text], 
.containersss input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the button */
.containersss button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.containersss button:hover {
  background-color: #45a049;
}

/* Add padding to container elements */
.containersss hr {
  border: 1px solid #f2f2f2;
  margin-bottom: 25px;
}

/* Clear floats after the columns */
.containersss:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the container for the "Already have an account?" link */
/* Style the container for the "Already have an account?" link */
.container.signin {
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px; /* Adjusted max-width */
  margin: 0 auto; /* Center the section horizontally */
}

.container.signin p {
  margin: 0;
}

.container.signin a {
  text-decoration: none;
  color: #4CAF50;
}


.job-item .job-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.job-item .job-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-location{
  display: block;
  margin-bottom:10px;
  font-size:12px;
}

.job-type{
  display: block;
  margin-bottom:10px;
  font-size:12px;
}

.job-salary{
  display: block;
  margin-bottom:10px;
  font-size:12px;
}

.job-item .job-actions a {
  text-decoration: none;
  color: #070707;
  margin-right: 10px;
  font-size: 15px;
  transition: color 0.3s ease;
}

.job-item{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   padding:70px;
}

.job-item .job-actions a:hover {
  color: #0056b3;
}

.job-item .apply-button {
  background-color: #1e88f3;
  color: #080101;
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  font-size:25px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.job-item .apply-button:hover {
  background-color: #f3f4f6;
}

.job-item .job-date {
  font-size: 14px;
  color: #777;
}

.kiska{
  padding:1% 5% 1% 10%;
}


/* Container to hold label and input */
.form-container {
  display: flex;
  align-items: center;
  margin-bottom:15px; /* Add margin below the container */
  padding: 1% 0% 0% 0%;
}

/* Style for the form label */
.form-label {
  margin-right: 10px; /* Add margin to the right of the label */
  font-weight: bold; /* Make the label text bold */
}

/* Style for the form input */
.form-input {
  flex: 1; /* Allow input to take up remaining space */
  padding: 10px; /* Add padding to the input field */
  border: 1px solid #ccc; /* Add a border to the input field */
  border-radius: 6px; /* Add border-radius for rounded corners */
}

/* Style for the datalist */
#browsers {
  display: none; /* Hide the datalist by default */
}

/* Style for the options within the datalist */
#browsers option {
  color: #333; /* Set text color */
  background-color: #f0f0f0; /* Set background color */
  padding: 8px 12px; /* Add padding to the options */
  border: 1px solid #ccc; /* Add a border to the options */
  border-radius: 4px; /* Add border-radius for rounded corners */
}

/* Style for the input when it's focused */
.form-input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color when focused */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add a subtle box-shadow when focused */
}


